#header{
    font-size: 1.8em; /* 3em */
    text-align: center;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#headtitle{
    text-decoration: none;
    line-height: 1em; /* 1.25em */
}
#content{
    text-align: left;
}
#bottom{
    display: block;
    text-align: center;
    margin: 1em;
    font-size: 0.5em;
    color: #114514;
}
body{
    font-family: PingFangSC-Regular,Verdana,Arial,"微软雅黑","宋体";
    font-size: 3.5vw;
    padding: 4em 0.5em 0 0.5em;
    line-height: 1.2em;
}
h2{
    font-size: 1.8em;
}
.center{
    text-align: center;
}
.comment{
    color: gray;
}
a:link,a:visited{
    color: darkorchid;
    text-decoration: none;
}
a:hover,a:active{
    color: red;
    text-decoration: underline;
}
p{
    margin: 0.5em 0;
}
p a:link,p a:visited{
    display: inline-block;
    border: 0.2em solid #114514;
    margin: 0.1em;
    padding: 0.1em;
    border-radius: 0.3em;
    font-size: 0.9em;
    font-family: Ubuntu Mono,Microsoft YaHei,微软雅黑,sans-serif;
    color: #ffffff;
    background-color: rgb(1 145 14);
    cursor: pointer;
}
p a:hover,p a:active{
    background-color: #006600;
    color: #ffff00;
    text-decoration: none;
}
p a::after{
    content: ' >>';
    color: #abcdef
}
p a:hover::after{
    color: #ff6600;
}
#title>span{
    display: none;
}
#content>a{
    font-size: 1.5em;
    font-family: Ubuntu Mono,Microsoft YaHei,微软雅黑,sans-serif;
    font-weight: bold;
}
#content>a::before{
    content: ' § ';
    font-size: 0.6em;
    color: #424242;
    font-weight: normal;
}
