body,html{
    height: 100%;
    margin: 0;
}
body{
    font-size: 10vw;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    overflow: hidden;
    background-color: #222222;
}
p,span{
    display: block;
}
p{
    margin: 0.2em;
    position: fixed;
}

#noteframe>div{
    display: none;
    position: absolute;
    top: -100vw;
    width: 12vw;
    height: 12vw;
    opacity: 0.95;
    border-radius: 7vw;
    border: 1vw solid #aaeeff;
}
#noteframe>div::before{
    content: "";
    display: block;
    position: relative;
    left: -6.5vw;
    top: 5vw;
    width: 24vw;
    height: 1vw;
    border: 0.5vw solid #99ddee;
    border-radius: 3.5vw;
}

#noteframe>div::after{
    content: "";
    display: block;
    position: relative;
    left: 2.5vw;
    top: 0.5vw;
    width: 6vw;
    height: 6vw;
    border: 0.5vw solid #99ddee;
    border-radius: 3.5vw;
    background-color: #557793;
}
#noteframe>div.double::before{
    border-color: #ffccff;
}
#noteframe>div.ishold::after{
    border-color: #cceeaa;
    background-color: #66775a;
}
#noteframe>div.missing{
    border-color: #ff3333 !important;
}

#holdframe>div{
    display: none;
    position: absolute;
    top: -100vw;
    width: 0;
    border: 0.5vw solid #cceeaa;
    border-radius: 0.5vw;
}
#holdframe>div.missing{
    border-color: #ff6666 !important;
}

#line{
    width: 0%;
    left: 50%;
    height: 1vw;
    position: absolute;
}

#-combo{
    font-size: 1em;
    top: 0;
    left: 0;
    text-align: right;
}
#combo2{
    font-size: 0.6em;
}
#gamescore{
    font-size: 1em;
    top: 0;
    right: 0;
}
#gameacc{
    font-size: 0.5em;
    top: 2em;
    right: 0.5em;
}
#songinfo{
    font-size: 0.8em;
    bottom: 0;
    left: 0;
    text-align: left;
}
#-composer{
    font-size: 0.75em;
}
#-level{
    font-size: 1em;
    bottom: 0;
    right: 0;
}
#-rate{
    font-size: 0.75em;
    bottom: 1.5em;
    right: 0;
}

#taptostart{
    font-size: 1em;
    opacity: 1;
    height: 1em;
    width: auto;
    padding: 0;
    margin: auto;
    top: 0; right: 0; bottom: 10%; left: 0;
}

.line-ap{
    background-color: #ffffaa;
}
.line-fc{
    background-color: #aaffff;
}
.line-nl{
    background-color: #ffffff;
}
.eff-p-bd{
    border: 0.25vw solid #ffff99;
}
.eff-g-bd{
    border: 0.25vw solid #99ffff;
}
.eff-p-bg{
    background-color: #ffff99;
}
.eff-g-bg{
    background-color: #99ffff;
}
